.App{
  font-family: sans-serif;
}

.input{
  text-align: start;
}

.chosencolor{
  text-align: start;
  align-items: center;
}

.squareContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 4px 4px 5px grey;
}

.square{
  width: 100px;
  height: 100px;
  text-align: center;
}